@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$pinkish-orange: #ff6633;
$black: #222222;
$warm-grey: #999999;
$white: #dddddd;
$white: #ffffff;
$pinkish-grey: #cccccc;
$brownish-grey: #666666;

#lable {
  color : $white;
  padding-left: 30px;
  font: 25px 'PT Sans', sans-serif;
  font-weight: bold;

}
#tasksTab {
  color : $brownish-grey;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  font: 12px 'PT Sans', sans-serif;
  &:hover {
    color:$warm-grey;
  }
}

.tabs {
  font-size: 14px;
}
.addHeight {
  height: 50px;
  padding-top: 10px;
}
.horLine {
  width: 100%;
  border-color: orange;
  margin: 0 0;
  padding: 0 0;
}
.circle {
  margin-left: 5px;
  border-radius: 10px;
  border: 0.5px solid black;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 9px;
  box-sizing: content-box;
  color: black;
}
.underline {
  border-bottom: 1px solid;
  border-bottom-color: black;
}
