$white: #ffffff;
$font: "PT Sans";

@mixin setFontColor($f, $c) {
  font: $f "PT Sans", sans-serif !important;
  color: $c;
}

.tasklable {
  @include setFontColor(30px, "#4A4A4A");
}

.tabs {
  @include setFontColor(14px, "#404040");
  font-weight: 600 !important;
}

.circle {
  margin-left: 5px;
  border-radius: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #a7a7a7;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 9px;
  box-sizing: content-box;
  color: "#404040";
}

.horLine {
  width: 100%;
  border-color: "#F0F0F0";
  margin: 0 0;
  padding: 0 0;
}

.underline {
  border-width:0 0 1px 0;
  border-style: none none solid none;
  border-color:#404040;
}

.fonted {
  font-family: "PT Sans", sans-serif !important;
}
