
.tabs {
  font-size: 14px;
}
.addHeight {
  height: 50px;
  padding-top: 10px;
}
.horLine {
  width: 100%;
  border-color: orange;
  margin: 0 0;
  padding: 0 0;
}
.circle {
  margin-left: 5px;
  border-radius: 10px;
  border: 0.5px solid black;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  font-size: 9px;
  box-sizing: content-box;
}
.underline {
  border-bottom: 1px solid;
  border-bottom-color: black;
}
